.wrapper{
  margin: auto;
}
.btn {
  height: 50px;
  width: 100px;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #efefef;
  font-size: x-large;
  margin: 15px;
}
.titles {
  font-size: x-large;
  margin: 15px;
}
.boxStyle{
  width: 200px;
  height: 40px;
  background-color: #efefef;
  border: none;
  border-radius: 10px;
  font-size: x-large;
  text-align: center;
}
